html, body {
    width: 200px;
    align-content:center
  }
  .popup-content{
    width:200px
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  .send{
    background-color:#EE30A7; 
  }
  .stop{
    background-color:#912CEE; 
  }
  .beast:hover {
    background-color: #CFF2F2;
    width:80%;
  }
  
  .message {
    background-color: #E5F2F2;
    width:100%;
    
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  }
